$font-fm: "Inter", sans-serif;
$font-fw-thin: 100;
$font-fw-extralight: 200;
$font-fw-light: 300;
$font-fw-regular: 400;
$font-fw-medium: 500;
$font-fw-semibold: 600;
$font-fw-bold: 700;
$font-fw-extrabold: 800;
$font-fw-black: 900;

// sizes
$max-cont: 1440px;